doctype html
html.no-js(lang='')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Cinepolis Klic Smart TV
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='stylesheet', href='css/style.css')
  body
    // Add your site or application content here
    .container
      .row
        .col
          h1 Cinepolis Klic